*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: arial;
    margin: 0;
    line-height: 2;
    background-color: #fff;
    color: #333333;
    font-size: 16px;
}

header {
    padding: 5px 0 0 5px; 
    margin-left: 20px; 
}

.content-title {
    display: flex;
    align-items: center;
}

img {
    height: 40px;
    margin-right: 5px;
}

.navbar {
    background-color: #E0E0E0;
    border-radius: 5px;
    position: fixed;
    min-width: 290px;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 78%;
    box-shadow: 1px 1px 1px 2px #333333;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    top: 10%;
}

#navbar ul {
    padding: 0;
    margin: 0;
}

#navbar a {
    display: block;
    padding: 7px 30px;
    transition: 350ms;
}

#navbar a:hover {
    background-color: #C0C0C0;
    transform: translate3d(3px, 0, 0);
}

#main-doc {
    margin-left: 310px;
    margin-top: 20px;
}

.list_documentation {
    list-style: none;
    margin-top: 0;
    margin-left: 0;
}


.nav-link {
    text-decoration: none;
    border-top: 1px solid;
    color: #333333;
    width: 100%;
}

.active {
    background-color: #C0C0C0;
    transform: translate3d(3px, 0, 0);
}

.link-end {
    border-bottom: 1px solid;
}

article {
    margin: 0 35px 0 45px;
    text-align: justify;
}

ul {
    margin: 0 35px;
}

article li {
    margin-bottom: 10px;
}

code {
    display: block;
    background-color: #C0C0C0;
    text-align: left;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}


@media (max-width: 800px) {
    #navbar {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        overflow-x: hidden;
        border-bottom: 1px solid;
        border-right: none;
    }

    #main-doc {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden;
    }

    ul{
        margin: 0;
    }
}